*{
	margin: 0;
	padding: 0;
}
@font-face{
	src:url('../font/Ubuntu-B.ttf');
	font-family: 'minha';
}
@font-face{
	src:url('../font/Ubuntu-L.ttf');
	font-family: 'minha2';
}
@font-face{
	src:url('../font/Ubuntu-LI.ttf');
	font-family: 'minha3';
}
#tudo{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
header{
	width: 100%;
	background-color: white;
	height: 150px;
	position: relative;
	font-family: minha;
}
#esq{
	width: 150px;
	background-color: white;
	position: absolute;
	margin-left: 150px;
	margin-top: 30px;
}
#dir{
	background-color: white;
	width: 700px;
	padding: 0;
	margin-left: 302px;
	margin-top: 30px;
	position: absolute;
}
nav{

	width: 1085px;
	height: 35px;
	margin: 1px 0 0 150px;
	background-color: #1a415b;

}
nav ul{
	list-style: none;
	position: relative;
	display: inline-table;
	font-family: minha;
	text-align: center;
}
nav ul ul{
	display: none;
	position: absolute;
}
nav ul li{
	cursor: pointer;
	float: left;
}
nav ul li a {
	display: block;
	padding: 6px 30px 6px 30px;
	color: white;
	text-decoration: none;

}
nav ul li:hover > ul {
	display: block;
	z-index: 40;
}
nav ul ul li {
	position: relative;
	float:none;
	background-color: #1a415b;
	padding: 0;
	width: 143px;
	border-bottom: 1px solid black;
}
nav li:hover{
	background-color: #ef8017;
}

.seg{
	width: 100%;
	height: auto;
	margin-top: 25px;
	position: relative;
}
section{
	background-color: yellow;
	width: 755px;
	margin-left: 150px;
	height: 300px;
	position: absolute;
	font-family: minha2;
	text-align: justify;
	box-sizing: border-box;
	padding:10px;
	overflow: hidden;

}
article{
	background-color: #ececec;
	width: 300px;
	height: 300px;
	position: absolute;
	margin-left: 935px;
	font-family: minha2;
	text-align: justify;
	box-sizing: border-box;
	padding:10px;
}
article  header{
	background-color: #ef8017;
	height: 25px;
	text-align: center;
}
.not{
	background-color: #ececec;
	width: 755px;
	margin-left: 150px;
	height: 300px;
	margin-top: 325px;


}
.not  header{
	background-color: #1a415b;
	text-align: center;
	height:25px;
}
footer{
	width: 100%;
	margin-top: 650px;
	font-family: minha3;
}
footer div:first-child{
	background-color: #ececec;
	width: 100%;
	height: 150px;
	text-align: center;
}
footer div:last-child{
	background-color: #fff;
	text-align: center;
	width: 100%;
	height: 25px;
	margin-top: 1px;
}